* {
  margin: 555;
  padding: 555;
  box-sizing: border-box;
}

:root {
  --primary-color: #be7c00;
  --secondary-color: #f8c51b;
  --tertiary-color: #f8e5a8;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  color: var(--tertiary-color);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  min-height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Open Sans', sans-serif;
  ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* start apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("../src/assets/cover/cover.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 0px -500px;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/* button styling */

header nav ul li a {
  padding: 10px 15px;
  font-weight: normal;
  font-size: 1.60vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* Hero Style Start */
.hero {
  background-image: url("../src/assets/cover/cover.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 0px -500px;

}
/* Hero Style End */

/* hero-cta start */
.hero-cta {
  width: 35%;
  text-align: center;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-cta p {
  font-size: 25px;
  color: var(--secondary-color);
}
/* hero-cta end */

/*Intro*/
.intro p {
  line-height: 1.7;
  color: var(--primary-color);
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

.intro-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.intro-img {
  flex: 1 12%;
  margin-right: 20px;
}

.intro-img img {
  max-width: 100%;
  height: auto;
  margin-left: 5px;
}

.intro-text {
  flex: 12;
}

.intro-text p {
  color: var(--secondary-color);
  font-size: 18px;
}
/*end intro*/

/* REACH OUT STYLES START */
#reach-out {
  /* margin-top: 5px; */
  background: #bfab75;
}

#reach-out h2 {
  color: var(--primary-color);
}

.contact h2 {
  color: #F2E3D5;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-form {
  padding-right: 10%;
}

.contact-form button:hover {
  color: #F2E3D5;
  background: #b28c39;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #765102;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #764d02;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.contact-form button {
  width: 100%;
  border: none;
  background: var(--tertiary-color);
  color: var(--primary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 25px;
  border-radius: 10px;
}

.contact-info>* {
  flex: 1;
  margin: 15px;
}

.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;
}

.contact-info h3 {
  color: var(--primary-color);
  font-size: 32px;
}

.contact-info p,
.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 25px;
  font-style: normal;
}

#contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

.contact-info a {
  color: var(--primary-color);
  display: inline;
}

.contact-info a:hover {
  color: var(--tertiary-color);
  transition: .5s ease;
}
/*end "Contact me" styles*/

/*Start portfolio section*/

.portfolio {
  background: var(--primary-color);
}


.portfolio {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--tertiary-color);
}


.portfolio:nth-child(even) {
  border-bottom: 1px solid var(--tertiary-color);
}

.portfolio:last-child {
  border-bottom: none;
}

.portfolio-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: var(--secondary-color);
}

.portfolio-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.portfolio-img {
  flex: 1 12%;
  margin-right: 250px;
  opacity: 0.5;
  filter: alpha(opacity=40);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.portfolio-img img {
  max-width: 200%;
  max-height: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.portfolio-img:hover {
  opacity: 1.0;
  /*    transition: .5s ease;*/
  filter: alpha(opacity=100);
  transform: scale(1.01);
}

.portfolio-img img:hover {
  /*    transition: .5s ease-in-out;*/
  border: 5px solid #f2e5ac;
  transform: scale(1.1);
}

.portfolio-img img:hover::after {
  transition: .5s ease;

}

.portfolio-text {
  flex: 12;
}

.portfolio-text p {
  color: var(--tertiary-color);
  font-size: 18px;
}
/*End portfolio section*/

/*Resume section*/
.download-intro p {
  line-height: 1.7;
  color: var(--primary-color);
  width: 95%;
  font-size: 30px;
  margin: 0 auto;
  justify-content: center;
}

.resume-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10%;
  margin-top: 5%;
}

.resume-body>* {
  flex: 1;
  margin: 150px;
}

.column1,
.column2,
.column3 {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 30px 0 0 60px;
}

.column3 {
  margin-right: 0%;
}

.article {
  margin: 10px;
  margin-bottom: 1em;
  background-color: #d9c9b4;
}

.resume-body img {
  height: auto;
}

.download-text {
  height: auto;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.download-logo {
  cursor: pointer;
  list-style: none;
  font-size: 40px;
  color: var(--primary-color);
  display: inline-block;
}

.download-logo:hover {
  color: #8c7432;
  opacity: 0.5;
  transition: .5s ease;
}

.download-info {
  flex: 3 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.column-title {
  color: #594228;
  font-size: 25px;
  font-weight: bold;
}

.column-text {
  color: #594228;
  font-size: 20px;
  padding: 5px;
}

.column-text ul li {
  list-style: none;
}
/*End resume section*/

/* start styles to <footer> */
footer {
  background: var(--tertiary-color);
  font-weight: bold;
  width: 100%;
  height: 100px;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer h2 {
  color: var(--secondary-color);
  font-size: 15px;
  margin: 0;
}

footer p {
  color: var(--secondary-color);
  font-size: 15px;
  margin: 0;
  text-align: center;
}

footer div {
  line-height: 1.5;
  /* text-align: right; */
}

footer a {
  color: var(--secondary-color);
}

footer a:hover {
  color: #8c6532;
  transition: .5s ease;
}

.logo {
  cursor: pointer;
  list-style: none;
  font-size: 40px;
  color: var(--primary-color);
  display: inline-block;
}

.logo:hover {
  color: #8c6532;
  opacity: 0.5;
  transition: .5s ease;
}
/* end styles to <footer> */

.section-title {
  font-size: 48px;
  color: var(--secondary-color);
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: var(--primary-color);
}

.secondary-border {
  border-color: var(--tertiary-color);
}

label {
  font-size: 25px;
}

/*Extra styling*/
.flex-row {
  display: flex;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;

  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2,
  footer div,
  footer p {
    text-align: center;
    width: 100%;
  }

  .hero-cta {
    width: 100%;
  }

  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }


  .contact-info {
    flex: 1 100%;
  }

  #contact-list {
    display: block;
    justify-content: space-around;
    flex-wrap: wrap;

  }

}

@media screen and (max-width: 768px) {
 

  .portfolio h3 {
    flex: 1 100%;
    text-align: center;
  }

  .portfolio-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .portfolio-img,
  .intro-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .portfolio-img {
    margin-right: 100px;
  }

  .portfolio-text {
    flex: 100%;
  }

  #contact-list {
    display: block;
    justify-content: space-around;
    flex-wrap: wrap;

  }
}

@media screen and (max-width: 575px) {


  .section-title {
    width: 95%;
  }

  .intro p,
  .download-intro p {
    width: 100%;
    padding: 30px 15px;
  }

  .portfolio-img {
    margin-right: 100px;
  }

  .contact-info {
    text-align: center;

  }

  .contact-info li {
    font-size: 25px;
    justify-content: space-between;


  }

  #contact-list {
    font-size: 25px;
    display: block;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 25px;
    margin-right: 120px;

  }

  .contact-info>* {
    flex: 0 100%;
  }
}